AddHandler application/x-httpd-php80 .php
RewriteEngine On

# Pasar el encabezado de autorización a PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin *
    Header Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS
    Header Access-Control-Allow-Headers: Content-Type, Authorization, X-Requested-With
    Header Access-Control-Allow-Credentials: true
</IfModule>

# Resto de las reglas de reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

RewriteBase /api
Options -Indexes

